<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<h1>
	<table align="center"  border="0">
		<tr>
			<td>
				Bienvenido al juego Pica-Chu</h1>
					<form method="POST" action="/iniciar">
						<input type="submit" value="iniciar">
					</form>	
			</td>
		</tr>
	</table>
	</h1>
</body>
</html>