<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<h1>Bienvenido al juego Pica-Chu</h1>
<form method="POST" action="/iniciar">

	<input type="submit" value="iniciar">
</form>
</body>
</html>