<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/validar" method="POST">

<table align="center" border="0" >
	<tr>
		<td>
			Bienvenidos al juego Pica-Shu
		</td>
	</tr>
	<tr>
		<td>
			<label>La palabra secreta tiene <%= session['pista'].to_s%> caracteres</label>
		</td>
	</tr>
	<tr>
<<<<<<< HEAD
		<td>
			<label>Tiene <%= session['intentos'].to_s%> intentos</label>
		</td>
	</tr>

	<tr>
		<td>
=======
		<td align="center" style="text-align: center" >
>>>>>>> d5fc0a1c7cc1d540101c6abf2eab5e0f70dec58b
			
			<input type="text" name="numero">
			<input type="submit" value="validar">
			<br>
			<%= session['numeros']%>

		</td>
	</tr>
</table>

</form>
</body>
</html>