<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/validar" method="POST">

<table align="center" border="0" >
	<tr>
		<td>
			Bienvidos al juego Pica-Shu
		</td>
	</tr>
	<tr>
		<td>
			
			<input type="text" name="numero">
			<input type="submit" value="validar">
			<br>
			<%= session['numeros']%>

		</td>
	</tr>
</table>

</form>
</body>
</html>