<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Bienvidos al juego Pica-Shu
<form action="/validar" method="POST">
<input type="text" name="numero">
<input type="submit" value="validar">
<br>
<%= session['numeros']%>
</form>
</body>
</html>